@font-face {
	font-family: Genty;
	src: url(Genty.ttf);
}

@font-face {
	font-family: Poetsen;
	src: url(PoetsenOne.ttf);
}
* {
			padding: 0;
			margin: 0;
		}
		
		html {
			scroll-behavior: smooth;
		}
		
		.hero {
			position: relative;
			height: 100vh;
			width: 100%;
		}
		
		.hero::before {
			content: '';
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages6.alphacoders.com%2F903%2Fthumb-1920-903906.jpg&f=1&nofb=1&ipt=b854b0ce9a253ef4a5126a6f984931139f186d1d760e5548074e19a28659e268&ipo=images);
			background-size: cover;
			background-position: center;
			opacity: 0.4;
		}
		
		header {
			position: fixed;
			width: 85%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-top: 45px;
			padding-left: 8%;
			padding-right: 8%;	
			transition: 0.4s;
		}
		
		.logo {
			position: relative;
			color: 	#FF1493;
			font-size: 40px;
			letter-spacing: 1px;
			cursor: pointer;
			padding-top: 30px;
			font-family: Genty;
			
		}
		
		header a{
			text-decoration: none;
		}
		
		span {
			color: #E00079;
		}
		
		header ul li {
			position: relative;
			list-style-type: none;
			display: inline-block;
			padding: 20px 25px;
			padding-top: 40px;			
			font-family: 'Dongle', sans-serif;
			font-size: 20px;
		}
		
		header ul li a {
			position: relative;
			color: 	#FF1493;
			text-decoration: none;
			font-weight: bold;
			text-transform: capitalize;
		}
		
		header ul li a:hover {
			color: 	#00FA73;
			transition: 0.4s;
		}
		
		header.sticky {
			padding-top: 5px;
			padding-left: 8%;
			padding-right: 8%;
			padding-bottom: 5px;
			background: rgba(255, 255, 255);
			
			transition: 0.6s;
			z-index: 999;
		}
		
		.btn {
			position: relative;
			background-color: #FF1493;
			color: white;
			text-decoration: none;
			border: 2px solid transparent;
			font-weight: bold;
			padding: 10px 25px;
			margin-top: 20px;
			border-radius: 30px;
			transition: transform .4s;
			font-family: 'Petit Formal Script', cursive;
			font-size: 15px;
		}
		
		.btn:hover {
			transform: scale(1.2);
		}
		
		.content {
			position: absolute;
			top: 50%;
			left: 8%;
			transform: translateY(-50%);
		}
		
		
		h1 {
			position: relative;
			color: #FF1493;
			margin: 0px 0px 0px;
			font-size: 100px;
			cursor: default;
			font-family: Genty;
		}
		
		h3 {
			position: relative;
			color: #FF1493;
			font-size: 30px;
			margin-bottom: 50px;
			cursor: default;
			text-transform: none;
			font-family: Poetsen;
		}
		
		h2 {
			
		font-family: 'Sail';	
		
		}
		h4 {
			position: relative;
			color: #FF1493;
			letter-space: 2px;
			font-size: 20px;
			cursor: default;
			font-family: 'Dongle', sans-serif;
		}
		
		.newslatter form{
			width: 380px;
			max-width: 100%;
			position: relative;
		}
		
		.newslatter form input:first-child {
			display: inline-block;
			width: 100%;
			padding: 14px 130px 14px 15px;
			border: 2px solid #FF1493;
			outline: none;
			border-radius: 30px;
		}
		
		.newslatter form input:last-child {
			position: absolute;
			display: inline-block;
			outline: none;
			border: none;
			padding: 10px 30px;
			border-radius: 50px;
			background-color: #FF1493;
			color: white;
			font-family: 'Petit Formal Script', cursive;
			font-size: 12px;
			font-weight: bold;
			box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
			top: 6px;
			right: 6px;
			transition: transform .4s;
			cursor: pointer;
		}
		
		.newslatter form input:last-child:hover {
			transform: scale(1.2);
		}
		.about {
			width: 100%;
			padding 100px 0px;
			background-color: #191919;
		}
		
		.about img {
			height: auto;
			width: 430px;
			padding: 100px 0px;
		}

		.magic {
			width: 100%;
			padding 100px 0px;
			background-color: #191919;
		}

		.magic img {
			height: auto;
			width: 500px;
			padding: 100px 0px;
		}
		
		.about-text {
			margin-top: 50px;
			margin-bottom: 50px;
			width: 550px;
		}
		
		.main {
			width: 1130px;
			max-width: 95%;
			margin: 0 auto;
			display: flex;
			alight-items: center;
			justify-content: space-around; 
		}
		
		.about-text h2{
			color: white;
			font-size: 75px;
			text-transform: capitalize;
			margin-bottom: 20px;
			font-family: 'Sail';
		}
		
		.about-text h5{
			color: white;
			letter-spacing: 2px;
			font-size: 22px; 
			margin-bottom: 25px;
			text-transform: capitalize;
		}
		
		.about-text p {
			color: #fcfc;
			letter-spacing: 1px;
			line-height: 28px;
			font-size: 18px;
			margin-bottom: 45px;
		}
		
		button {
			background-color: #FF1493;
			color: white;
			text-decoration: none;
			border: 2px solid transparent;
			font-weight: bold;
			padding: 13px 30px;
			border-radius: 30px;
			transition: .4s;
			font-family: 'Petit Formal Script', cursive;
		}
		
		button:hover {
			background-color: transparent;
			border: 2px solid #FF1493;
			cursor: pointer;
		}
		
		.service {
			background: #101010;
			width: 100%;
			padding: 50px 0px;
			padding-bottom: 0px;
		}
		
		.title h2{
			color: white;
			font-size: 75px;
			width: 1130px;
			margin: 30px auto;
			text-align: center;
			font-family: 'Playfair Display', serif;
			font-weight: 600;
		}
		
		.title_1 h2 {
			color: black;
			font-size: 75px;
			width: 1130px;
			margin: 10px auto;
			text-align: center;
			font-family: 'Playfair Display', serif;
			font-weight: 600;
		}
		
		.box {
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 400px;
			padding-bottom: 100px;
		}
		
		.card {
			height: 450px;
			width: 335px;
			background: #191919;
			border-radius: 20px;
			margin: 15px;
			position: relative;
			overflow: hidden;
			text-align: center;
		}
		
		.card img {
			width: 100%;
			height: 200px;
			display: block;
			text-align: center;
			padding-left: 0px;
			margin-right: 0px;
			margin-left: 0px;
			margin-top: 1px;
			margin-bottom: 15px;
			align-items: center;
			object-fit: cover;
			object-position: 25% 75%;
			
		}
		
		h5 {
			color: white;
			font-size: 23px;
			margin-bottom: 15px;
			font-family: 'Sail', cursive;
		}
		
		.recipe p {
			padding-left: 20px;
			padding-right: 20px;
			color: #fcfc;
			font-size: 16px;
			line-height: 27px;
			margin-bottom: 25px;
			text-align: justify;
			font-family: 'Georgia', serif;
		}
		
		.card .button {
			background-color: #FF1493;
			color: white;
			text-decoration: none;
			border: 2px solid transparent;
			font-weight: bold;
			padding: 13px 30px;
			border-radius: 30px;
			transition: .4s;
			font-family: 'Quicksand', sans-serif;
			font-size: 15px;
		}
		
		.card .button:hover {
			background-color: transparent;
			border: 2px solid #FF1493;
			cursor: pointer;
		}
		
		.container{
			max-width: 1170px;
			margin:auto;
		}
		
		.row{
			display: flex;
			flex-wrap: wrap;
		}
		
		ul{
			list-style: none;
		}
		
		.footer{
			background-color: #24262b;
			padding: 70px 0;
		}
		
		.footer-col{
			width: 25%;
			padding: 0 15px;
		}
		
		.footer-col h4{
			font-size: 18px;
			color: #ffffff;
			text-transform: capitalize;
			margin-bottom: 35px;
			font-weight: 500;
			position: relative;
		}
		
		.footer-col h4::before{
			content: '';
			position: absolute;
			left:0;
			bottom: -10px;
			background-color: #e91e63;
			height: 2px;
			box-sizing: border-box;
			width: 50px;
		}
		
		.footer-col ul li:not(:last-child){
			margin-bottom: 10px;
		}
		
		.footer-col ul li a{
			font-size: 16px;
			text-transform: capitalize;
			color: #ffffff;
			text-decoration: none;
			font-weight: 300;
			color: #bbbbbb;
			display: block;
			transition: all 0.3s ease;
		}
		
		.footer-col ul li a:hover{
			color: #ffffff;
			padding-left: 8px;
		}
		
		.footer-col .social-links a{
			display: inline-block;
			height: 40px;
			width: 40px;
			background-color: rgba(255,255,255,0.2);
			margin:0 10px 10px 0;
			text-align: center;
			line-height: 40px;
			border-radius: 50%;
			color: #ffffff;
			transition: all 0.5s ease;
		}
		
		.footer-col .social-links a:hover{
			color: #24262b;
			background-color: #ffffff;
		}

		/*responsive*/
	@media(max-width: 767px){
		.footer-col{
			width: 50%;
			margin-bottom: 30px;
		}
	}
		@media(max-width: 574px){
		.footer-col{
			width: 100%;
		}
	}
	
.menu{
    width: 100%;
    padding-top: 70px;
}

.menu h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.menu h1 span{
    color: #fac031;
    margin-left: 15px;
    font-family: mv boli;
}

.menu h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    display: block;
    position: relative;
    bottom: 15px;
}

.menu .menu_box{
    width: 85%;
    margin: 0 auto;
    display: grid;
	position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;
	column-gap: 0px;
}

.menu .menu_box .menu_card{
    width: 325px;
    height: 550px;
    padding-top: 10px;
	padding-bottom: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.menu .menu_box .menu_card .menu_image{
    width: 300px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}

.menu .menu_box .menu_card .menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.menu .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.1);
}

.menu .menu_box .menu_card .small_card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}

.menu .menu_box .menu_card:hover .small_card{
    position: relative;
    top: -240px;
    right: 20px;
    opacity: 1;
}

.menu .menu_box .menu_card .small_card i{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: white;
    cursor: pointer;
    text-shadow: 0 0 6px #000;
    transition: 0.2s;
}

.menu .menu_box .menu_card .small_card i:hover{
    color: #FF1493;
}

.menu .menu_box .menu_card .menu_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: #FF1493;
	font-family: 'Sail', cursive;
}

.menu .menu_box .menu_card .menu_info .rate h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 10px;
    color: #FF1493;
}

.menu .menu_box .menu_card .menu_info p{
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
	padding-right: 20px;
	padding-left: 20px;
	font-family: 'Georgia', serif;
	text-align: justify;
}

.menu .menu_box .menu_card .menu_info h3{
    text-align: center;
	margin-top: 30px;
	margin-bottom: 0px;
	font-size: 20px;
	color: black;
}

.menu .menu_box .menu_card .menu_info .menu_icon{
    color: #fac031;
    text-align: center;
    margin: 10px 0 10px 0;
}

.menu .menu_box .menu_card .menu_info .menu_btn{
    display: flex;
    background-color: #FF1493;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	align-items: center;
    justify-content: center;
	font-weight: bold;
	padding: 8px 10px;
    margin: 0 80px;
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	border-radius: 30px;
	transition: 0.3s;
	cursor: pointer;
}

.menu .menu_box .menu_card .menu_info .menu_btn:hover {
	background-color: transparent;
	border: 2px solid #FF1493;
	color: black;
	
}

.footer-distributed {
  background-color: #000;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

/*Team*/

.team{
    width: 100%;
    height: 850px;
	padding-top: 50px;
    background-size: cover;
    background-position: center;
	background-color: white;
}

.team h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
}

.team h1 span{
    color: #fac031;
    margin-left: 15px;
    font-family: mv boli;
}

.team h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    display: block;
    position: relative;
    bottom: 15px;
}

.team .team_box{
    width: 100%;
	margin: 0 auto;
	padding-top: 0;
    display: flex;
	flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
	top: 5%;
}

.team .team_box .profile{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
	background-color: white;
    position: relative;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    transition: 0.4s;
	margin-bottom: 50px;
	
}

.team .team_box .profile:hover{
    border-radius: 20px;
    height: 320px;
}

.team .team_box .profile img{
    width: 250px;
    height: 250px;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    z-index: 2;
	object-fit: fill;
    transition: 0.4s;
}

.team .team_box .profile:hover img{
    border-radius: 20px;
    margin-top: -230px;
}

.team .team_box .profile .info{
    position: absolute;
    text-align: center;
    top: 25%;
    transition: 0.4s;
}

.team .team_box .profile:hover .info{
    top: 60%;
}

.team .team_box .profile .info .name{
    color: #FF1493;
    margin-bottom: 15px;
	font-family: 'Sail';
}

.team .team_box .profile .info .bio{
    width: 70%;
    text-align: center;
    margin: 0 auto 10px auto;
}

.team .team_box .profile .info .team_icon i{
    margin: 10px 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
}

.team .team_box .profile .info .team_icon i:hover{
    color: #fac031;
}
